MONGO_URI=mongodb+srv://<user>:<pass>@cluster0.example.mongodb.net/carecompass
PORT=5000
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000
ADMIN_SECRET=replace_with_a_random_secret
HUGGINGFACE_API_KEY=hf_replace_with_your_key
